<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel Planner App</title>
    </head>

    <body>
        
        <header>
            <div class="">
               <h1>Travel PlannerApp</h1> 
            </div>
            <div>
               <p>Travel app that obtains a desired trip location & date from the user, and displays weather and an image of the location using information obtained from external APIs.</p>  
            </div>
        </header>

        <main>
            <section>
                <h2>Insert your travel info:</h2>
                <div id="error"></div>
                <form id="info" >
                    <div class="container"> 
                        <label for="city">City:</label>
                        <input id="city" type="text" name="city" value=""  placeholder="City Destination">
                        <label for="start-trip">Departing Date:</label>
                        <input id="dateStart" type="date" name="start-trip">
                        <label for="end-trip">Returning Date:</label>
                        <input id="dateEnd" type="date" name="end-trip">
                    </div>
                    <input id="button" type="submit" name="" value="Submit">
                </form>
            </section>

            <section>
                <h2>Results:</h2>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <h3>TravelApp  By Rudolf</h3>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
