<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel Planner App</title>
    </head>

    <body>
        
        <header>
            <div class="">
                Travel PlannerApp
            </div>
            <div>
            </div>
        </header>

        <main>
            <section>
                <div id="error"></div>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="city" type="text" name="city" value=""  placeholder="City Destination">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Results:</strong>
                <div id="results"></div>
                <div id="results-text"></div>
            </section>
        </main>

        <footer>
            
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
