$font-stack: Courier, Helvetica, sans-serif;
$primary-color: linear-gradient(#cbe7f7, #a2d1e9);
$secondary-color: radial-gradient(#95d4f5, #94d2f1, #67c5f5);


.card{
    background-image: $primary-color;
    border: 2px solid #000;
    border-radius: 2em;
    width: 80vw;
    margin: 1em;
    align-self: center;
    
    &:hover{
        background-image: $secondary-color;
    }
    img{
        display: block;
        margin-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        width: 100%;
        
    }
    .container{
        padding: 1em;
    }
}

@media (min-width:980px) {
    .card{
        width:40vw;
    }
}